input, label{
display: flex;

}

.parent{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.col1, .col2, .col3{
display: flex;
flex-direction: column;

}

.spacing{
    margin: auto;
    height: 30%;
}



#phone{
    order: 4;
}

#affiliation{
    order: 2;
}

